body{
    margin: 0;
    padding: 0;
}
#header{
    background-image: url(img/street-gbbefa20f1_1920.jpg);
    min-height: 800px;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}
.header-text h1{
    color: aliceblue;
    font-size: 80px;
    text-align: center;
    padding-top: 160px;
    margin-top: 0px;
}
.header-text p{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
.header-text a{
    text-decoration: none;
    color: aliceblue;
    background-color: #ff7675;
    margin-left: 40%;
    padding: 25px 40px;
    border-radius: 5%;
    font-size: 30px;
}
#donate{
    text-align: center;
}
.container{
    display: flex;
    margin-left: 24%;
}
.box{
    background-color: #dfe6e9;
    width: 200px;
    height: 130px;
    padding-top: 20px;
    color: #636e72;
    font-size: 30px;
    margin-left: 30px;
}
.color{
    border: 3px solid #ff7675;
    background-color: #ffcccc;
    color: #ff7675;
    width: 200px;
    height: 130px;
    margin-left: 40px;
    padding-top: 20px;
    font-size: 30px;
}
#donate{
    margin-bottom: 200px;
}
#donate h1{
    font-size: 70px;
    margin-bottom: 100px;
}
#donate p{
    font-size: 25px;
    color: #636e72;
    margin-bottom: 60px;
}
.taka{
    border-bottom: 2px solid #dfe6e9;
    margin-bottom: 60px;
}
#donate a{
    text-decoration: none;
    color: aliceblue;
    background-color: #ff7675;
    padding: 25px 40px;
    border-radius: 5%;
    font-size: 30px;
}
#plan .text{
    text-align: center;
}
#plan .text h1{
    font-size: 70px;
}
#plan p{
    font-size: 25px;
}
.basic{
    display: flex;
    margin: 4% 10%;
}
.need{
    margin-left: 40px;
    background-color: #bff3fa;
    width: 30%;
    height: 300px;
    padding: 40px 20px;
    border-radius: 2%;
}
.family{
    margin-left: 40px;
    background-color: #fddbdb;
    width: 30%;
    height: 300px;
    padding: 40px 20px;
    border-radius: 2%;
}
.child{
    margin-left: 40px;
    background-color: #fce9ba;
    width: 30%;
    height: 300px;
    padding: 40px 20px;
    border-radius: 2%;
}
.head{
    font-size: 35px;
}